

.class {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 400px;
}

.header {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.hot {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px 5px;
    margin-top: ;
}

p {
    margin: 10px 0;
}

.class2 {
    color: orange;
}

.class3 {
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    

    margin: 5px;
    width: 100%;
}

.class4 {
    border: 2px solid red;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: white;
        color: red;
        align-items: center;
}